/* Here is a CSS cheat sheet: */
/* - # for ids */
/* - . for classes */
/* - a b for all b inside a */

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-size: 18px;
    max-width: 40em;
    margin: auto;
    font-size: 16pt;
    padding: 10px;
    text-rendering: optimizeLegibility;
}

img {
    max-width: 100%;
}

.date {
    font-style: italic;
    font-weight: 400;
    color: #999;
}

#content {
    padding-top: 20pt;
    padding-bottom: 20pt;
}

blockquote {
    width: 90%;
    min-height: 3em;
    margin: auto;
    align-items: center;
    border-left-width: .125em;
    border-left-color: black;
    border-left-style: solid;
}

blockquote p {
    padding-left: 0.5em;
}

p {
    line-height: 1.4em;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

hr {
    margin: 1em;
}

a {
    text-decoration: none;
    color: #fd6000;
}

pre {
    width: 90%;
    min-height: 3em;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: 999;
    padding-bottom: 10pt;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

ul {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
}

ol {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
}

table {
    margin: auto;
    margin-bottom: 1rem;
}

td {
    padding: 8pt;
    padding-top: 0.5pt;
    padding-bottom: 0.5pt;
}

figcaption {
    display: none;
}

#index {
    width: 100%;
    list-style-type: none;
}

.indexItem {
    padding-bottom: 20pt;
    width: 100%;
}

.indexItem li {
    list-style-type: disc;
}

.peterAvatar {
    border-radius: 50%;
    height: 3em;
}

footer {
    height: 3em;
}

footer * {
    height: 3em;
    vertical-align: middle;
}
