/* Here is a CSS cheat sheet: */
/* - # for ids */
/* - . for classes */
/* - a b for all b inside a */

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-size: 18px;
    max-width: 40em;
    margin: auto;
    font-size: 16pt;
    padding: 10px;
    text-rendering: optimizeLegibility;
}

#content {
    padding-top: 20pt;
    padding-bottom: 20pt;
}

.indexItem {
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.indexItem li {
    list-style-type: disc;
}

#index {
    list-style-type: none;
}

blockquote {
    width: 90%;
    min-height: 3em;
    margin: auto;
    background-color: #00000011;
    align-items: center;
}

p {
    line-height: 1.4em;
    margin-bottom: 1.5rem;
}

hr {
    margin: 1em;
}

a {
    text-decoration: none;
    color: #fd6000;
}

pre {
    width: 90%;
    min-height: 3em;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: 999;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

ul {
    margin-bottom: 1rem;
}

.peterAvatar {
    border-radius: 50%;
    height: 3em;
}

footer {
    height: 3em;
}

footer * {
    height: 3em;
    vertical-align: middle;
}
