/* Here is a CSS cheat sheet: */
/* - # for ids */
/* - . for classes */
/* - a b for all b inside a */

body {
    font-size: 16pt;
    max-width: 40em;
    margin: auto;
    padding: 10px;
    text-rendering: optimizeLegibility;
    color: black;
    background: white;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.date {
    font-style: italic;
    font-weight: 400;
    color: #999;
}

#content {
    padding-top: 20pt;
}

blockquote {
    width: 90%;
    margin: auto;
    align-items: center;
    border-left-width: .125em;
    border-left-color: black;
    border-left-style: solid;
}

blockquote p {
    padding-left: 0.5em;
}

p {
    line-height: 1.4em;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

hr {
    margin: 1em;
}

a {
    text-decoration: none;
    color: #fd6000;
}

code {
    font-family: monospace;
}

pre {
    width: 90%;
    margin: auto;
    white-space: pre-wrap;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: 999;
    padding-top: 7pt;
    padding-bottom: 7pt;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

ul {
    width: 90%;
    margin: auto;
    list-style-type: disc;
}

ol {
    width: 90%;
    margin: auto;
}

li {
    line-height: 1.2;
}

table {
    margin: auto;
}

td {
    line-height: 1.2;
    padding: 8pt;
    padding-top: 0.5pt;
    padding-bottom: 0.5pt;
}

figcaption {
    display: none;
}

.contact {
    font-family: sans-serif;
    font-size: 24pt;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}

#contact_twitter a {
    color: #55acee;
}

#contact_email a {
    color: #0bd318;
}

.peterAvatar {
    border-radius: 50%;
    height: 3em;
}

footer {
    height: 3em;
    text-align: center;
    padding-top: 20pt;
}

footer * {
    height: 3em;
    vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background: black;
    }

    .date {
        color: #777;
    }
    blockquote {
        border-left-color: white;
    }
}
