/* Here is a CSS cheat sheet: */
/* - # for ids */
/* - . for classes */
/* - a b for all b inside a */

body {
    font-family: Georgia, serif;
    background: white;
    color: black;
    margin: auto;
    padding: 8px;
    max-width: 45em;
    text-rendering: optimizeLegibility;
}

img {
    max-width: 100%;
}

p, header, .title, .date, h1, h2, h3, h4, h5, h6, img, ul, ol, table, pre {
    line-height: 1.5;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

/* turn off padding for nested lists */
ul ul, ol ol, ul ol, ol ul {
    padding-top: 0;
    padding-bottom: 0;
}

header, h1, h2, h3, h4, h5, h6, .title, .date {
    /* font-family: sans-serif; */
    font-weight: 999;
}

header h1 {
    font-size: 3em;
}

.title {
    font-size: 2em;
}

.date {
    color: #999;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 400;
}

blockquote, pre, ul, ol {
    margin: auto;
}

blockquote, ul, ol {
    width: 90%;
}

blockquote, pre {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

blockquote {
    font-style: italic;
    border-left-width: .125em;
    border-left-color: black;
    border-left-style: solid;
}

/* this styling match the blockquote above */
th {
    border-bottom-width: .125em;
    border-bottom-color: black;
    border-bottom-style: solid;
}

blockquote * {
    padding-left: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
}


hr {
    margin: 1em;
}

a {
    text-decoration: none;
    color: rgba(253, 96, 0, 1);
}

code {
    font-family: Menlo, monospace;
}

pre {
    white-space: pre-wrap;
    background-color: rgba(253, 96, 0, 0.089);
    padding: 20pt;
    vertical-align: middle;
}

h1 {
    font-size: 1.25em;
}

h2 {
    font-size: 1.125em;
}

ul, ol {
    list-style-type: unset;
}

table {
    margin: auto;
}

td {
    padding: 8pt;
    padding-top: 0.5pt;
    padding-bottom: 0.5pt;
}

figcaption {
    display: none;
}

.contact {
    font-weight: 500;
    text-decoration: none;
}

#contact_twitter a {
    color: #55acee;
}

#contact_email a {
    color: #0bd318;
}

.peterAvatar {
    border-radius: 50%;
    height: 3em;
}

footer {
    padding: 2em;
    text-align: center;
}

footer * {
    vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background: black;
    }

    .date {
        color: #777;
    }

    blockquote {
        border-left-color: white;
    }

    th {
        border-bottom-color: white;
    }
}
