{{ define "title" -}}
{{ .Title | title }}
{{- end }}
{{ define "main" -}}
{{ .Content }}
<ul class="ulWithoutBullets">
{{- range.Site.RegularPages }}
{{ if .Param "Date" }}
<li>
	<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
    &nbsp;
	<a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ if not (eq .Type "blog") }}
    <a href="/{{ .Type }}" class="pill {{ .Type }}">{{ .Type }}</a>
    {{- end }}
    {{ if .Param "Rating" }}
    {{ range seq .Params.Rating }}
    <span class="star"></span>
    {{ end }}
    {{ range (seq ( sub 5 .Params.Rating )) }}
    <span class="emptyStar"></span>
    {{ end }}
    {{- end }}
</li>
{{- end }}
{{- end }}
</ul>
{{- end }}
