/* Reset everything browsers might be doing */
@import 'reset.css';
/* Here is a CSS cheat sheet: */
/* - # for ids */
/* - . for classes */
/* - a b for all b inside a */

body {
    font-family: Georgia, serif;
    border-color: black;
    margin: auto;
    padding: 8px;
    max-width: 45em;
    text-rendering: optimizeLegibility;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

img {
    max-width: 100%;
}

article img {
    width: 100%;
}

time {
    font-family: monospace;
    font-size: 1.5em;
}

.circle {
    border-radius: 50%;
}

.youtube {
    /* this matches the width of the document and height
     * roughly following a 16:9 aspect ratio */
    width: 100%;
    max-width: 45em;
    height: 50vw;
    max-height: 25em;
    display: block;
}

p, header, time, h1, h2, h3, h4, h5, h6, img, ul, ol, table, pre {
    line-height: 1.5;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

/* turn off padding for nested lists */
ul ul, ol ol, ul ol, ol ul {
    padding-top: 0;
    padding-bottom: 0;
}

.sitetitle {
    font-size: 2em
}

nav {
    text-align: center;
    font-size: 1.25em;
}

time {
    display: inline;
    color: #666;
}

article {
    clear: both;
}

blockquote, pre, ul, ol {
    margin: auto;
}

blockquote, ul, ol {
    width: 90%;
}

blockquote, pre {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

blockquote * {
    padding-left: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
}

blockquote {
    font-style: italic;
    border-left-width: .125em;
    border-left-style: solid;
}

hr {
    background: linear-gradient(to right, rgba(0,0,0,0), black, rgba(0,0,0,0));
    height: 1px;
    border: none;
}

a {
    text-decoration: none;
    color: rgba(253, 96, 0, 1);
}

code {
    font-family: Menlo, monospace;
}

code {
    word-wrap: break-word;
}

pre {
    background-color: rgba(253, 96, 0, 0.089);
    border-radius: 8pt;
    border-color: rgba(253, 96, 0, 0.2);
    border-width: 2pt;
    border-style: solid;
    padding: 8pt;
    vertical-align: middle;
    overflow: auto;
}

pre * {
    word-wrap: unset;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: unset;
}

.ulWithoutBullets {
    list-style-type: none;
    list-style: none;
    margin: unset;
}

table {
    margin: auto;
}

th {
    text-decoration: underline;
}

td {
    vertical-align: middle;
    padding: 8pt;
    padding-top: 0.5pt;
    padding-bottom: 0.5pt;
}

figcaption {
    display: none;
}

.peterAvatar {
    height: 3em;
}

.pixelart {
    font-size: 2px;
    letter-spacing: 0;
    overflow: scroll;
}

aside {
    opacity: 70%;
    text-align: center;
    font-style: italic;
}

footer {
    padding: 2em;
    text-align: center;
}

footer * {
    vertical-align: middle;
}

.pill {
    font-weight: bold;
    padding: 4px;
    color: #2d2d2d;
    background: rgba(253, 96, 0, 1);
}

.movie {
    background: #66cccc;
}

.soda {
    background: #99cc99;
}

.star:after {
    content: "★";
}

.emptyStar:after {
    content: "☆";
}

.item-list {
    list-style-type: none;
    width: 100%;
}

.item-list img {
    width: 100%;
}

.item-list p {
    line-height: 1;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.item {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 16pt;
    padding-left: 20pt;
    padding-right: 20pt;
    padding-bottom: 10pt;
    margin-bottom: 10pt;
}

.item-location {
    opacity: 0.33;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background: #333333;
        border-color: white;
    }

    hr {
        background: linear-gradient(to right, #333333, white, #333333);
        height: 1px;
        border: none;
    }

    main time {
        color: #BBB;
    }
}
