/* Reset everything browsers might be doing */
@import 'reset.css';
/* Here is a CSS cheat sheet: */
/* - # for ids */
/* - . for classes */
/* - a b for all b inside a */

body {
    font-family: Georgia, serif;
    border-color: black;
    margin: auto;
    padding: 8px;
    max-width: 45em;
    text-rendering: optimizeLegibility;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

img {
    max-width: 100%;
}

.circle {
    border-radius: 50%;
}

.youtube {
    /* this matches the width of the document and height
     * roughly following a 16:9 aspect ratio */
    width: 100%;
    max-width: 45em;
    height: 50vw;
    max-height: 25em;
    display: block;
}

p, header, .title, .article_subhead, h1, h2, h3, h4, h5, h6, img, ul, ol, table, pre {
    line-height: 1.5;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

/* turn off padding for nested lists */
ul ul, ol ol, ul ol, ol ul {
    padding-top: 0;
    padding-bottom: 0;
}

.sitetitle {
    font-size: 2em;
}

nav {
    text-align: center;
    font-size: 1.25em;
}

.title {
    font-size: 1.875em;
    clear: both;
}

.article_subhead {
    font-size: 1.5em;
    display: inline;
    color: #666;
}

article {
    clear: both;
}

blockquote, pre, ul, ol {
    margin: auto;
}

blockquote, ul, ol {
    width: 90%;
}

blockquote, pre {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

blockquote {
    font-style: italic;
    border-left-width: .125em;
    border-left-style: solid;
}

/* this styling match the blockquote above */
th {
    border-bottom-width: .125em;
    border-bottom-style: solid;
}

blockquote * {
    padding-left: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
}


hr {
    background: linear-gradient(to right, rgba(0,0,0,0), black, rgba(0,0,0,0));
    height: 1px;
    border: none;
}

a {
    text-decoration: none;
    color: rgba(253, 96, 0, 1);
}

code {
    font-family: Menlo, monospace;
}

code {
    word-wrap: break-word;
}

pre {
    background-color: rgba(253, 96, 0, 0.089);
    border-radius: 8pt;
    border-color: rgba(253, 96, 0, 0.2);
    border-width: 2pt;
    border-style: solid;
    padding: 8pt;
    vertical-align: middle;
    overflow: auto;
}

pre * {
    word-wrap: unset;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.125em;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: unset;
}

table {
    margin: auto;
}

td {
    vertical-align: middle;
    padding: 8pt;
    padding-top: 0.5pt;
    padding-bottom: 0.5pt;
}

figcaption {
    display: none;
}

.contact {
    font-weight: 500;
    text-decoration: none;
}

#contact_twitter a {
    color: #55acee;
}

#contact_email a {
    color: #0bd318;
}

.peterAvatar {
    height: 3em;
}

.peterBlurbAvatar {
    padding: 0.5em;
    width: 20em;
    height: auto;
}

.pixelart {
    font-size: 2px;
    letter-spacing: 0;
    overflow: scroll;
}

aside {
    opacity: 70%;
    text-align: center;
    font-style: italic;
}

footer {
    padding: 2em;
    text-align: center;
}

footer * {
    vertical-align: middle;
}

.image-list {
    list-style-type: none;
    width: 100%;
}

.image-list img {
    width: 100%;
}

.image-item {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 16pt;
    padding: 20pt;
    margin: 0pt;
    margin-top: 20pt;
    margin-bottom: 20pt;
}

.image-link {
    float: right;
}

.image-location {
    opacity: 0.33;
}

.image-description {
    text-align: center;
}

.image-timestamp {
    opacity: 0.66;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background: #333333;
        border-color: white;
    }

    hr {
        background: linear-gradient(to right, #333333, white, #333333);
        height: 1px;
        border: none;
    }

    .article_subhead {
        color: #BBB;
    }
}
